section {
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

section > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Title {
    flex: 3;
    padding: 10px;
}

.Type {
    flex: 1;
    padding: 10px;
}

.Min {
    flex: 1;
    padding: 10px;
}

.Max {
    flex: 1;
    padding: 10px;
}
