@import url('http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700');

.App {
    font-family: 'Roboto';
    font-weight: 400;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

main {
  display: flex;
  padding: 0;
}

article {
  flex: 3;
}

article > section {
  min-height: 120px;
}  

aside {
  flex: 1;
}